.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.relatedproducts h1{
    color: #171717;
    font-size: 30px;
    font-weight: 500;
}
.relatedproducts hr{
    width: 150px;
    padding: 2px;
    border-radius: 8px;
    background: #252525;
}
.relatedproducts-item{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}