.product-display{
    display: flex;
    margin: 0 100px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-img-list img{
    height: 125px;
}
.productdisplay-main-img{
    width: 480px;
    height: 550px;
}
.productdisplay-right{
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 25px;
    font-weight: 600;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 9px;
    gap: 3px;
    color: #1c1c1c;
    font-size: 12px;
}
.productdisplay-right-stars img{
    width: 12px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 25px 0px;
    gap: 20px;
    font-weight: 600;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: red;
}
.productdisplay-right-size h1{
    margin-top: 40px;
    color: #656565;
    font-size: 16px;
    font-weight: 500;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 20px 0px;
    gap: 16px;
}
.productdisplay-right-sizes div{
    padding: 12px 16px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 14px 20px;
    width: 150px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background: #FF4141;
    margin-bottom: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category{
    margin-top: 6px;
}
.productdisplay-right-category span{
    font-weight: 500;
}